<h3>EAN-13 <small>International Article Number</small></h3>
<p>The EAN-13 Bar Code is used to encode a GTIN-13, and can be scanned in both a retail Point-of-Sale (POS)
and a General Distribution Scanning Environment.</p>
<div class="col-lg-6">
	<form id="barcodeForm" onsubmit = "return processBarcode();">
		<input type="hidden" name="selected_symbology" value="EAN-13"/>
		<div class="form-group">
			<label for="inputData">Enter a valid 13-digits EAN</label>
			<input type="number" class="form-control" id="inputData" name="input_data" placeholder="E.g. 4003994155486" required>
		</div>
	    <button type="submit" class="btn btn-primary">GENERATE</button>
	</form>	
</div>	