<h3>UPC-E <small>Universal Product Code</small></h3>
<p>The UPC-E Bar Code is used to encode a Zero Suppressed GTIN-12 and is intended for scanning in a retail
Point-of-Sale (POS) environment only. </p>
<h4 class="text-danger">Sorry! This feature is not completed yet!</h4>
<!--
<div class="col-lg-6">
	<form id="barcodeForm" onsubmit = "return processBarcode();">
		<input type="hidden" name="selected_symbology" value="UPC-E"/>
		<div class="form-group">		
			<label for="inputData">Enter a valid 12-digits UPC</label>
			<input type="number" class="form-control" id="inputData" name="input_data" placeholder="E.g. 123456789999" required>
		</div>
	    <button type="submit" class="btn btn-primary">GENERATE</button>
	</form>	
</div>
-->